html{
    height: 100vh;
    width: 100vw; 
}
body{
    background-color:#E9967A;
    overflow: hidden;
    text-align: center;
    width: 100vw;
}
#title{ /* #id references specific ids and only edits them*/
    color: dimgray;
}